html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;

}
#caminho{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    -webkit-text-fill-color: #f0f0f0;

}
.header{
    width: 100%;
    height: 7%;
    background-color: #33538a;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.mapdiv {
    margin-top: 7%;
    margin-left: 8%;
    margin-right:10%;
    width: 80%;
    height: 85%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    z-index: 0; /* Para posicionar abaixo do header */
}



#draggable {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    user-select: none;
    transform-origin: center center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


#svg-container{
    width: 100%;
    height: 100%;
}

svg{
    Width: 560px;/* Defina a largura desejada */
    height: 480px; /* Defina a altura desejada */
    position: absolute;
    padding-top: 50px;
    top: 50%; /* Ajuste a posição superior para centralizar verticalmente */
    left: 50%; /* Ajuste a posição esquerda para centralizar horizontalmente */
    transform: translate(-50%, -50%); /* Centralize o elemento */
}


tspan:hover{
    cursor: pointer;
}
tspan{
user-select: none;

}